.sign-button{
  background: #9A1663; 
  color: #fff; 
  border-radius: 10px 4px 12px 6px; 

  margin: 10px; 
  justify-content: end; 

  font-size: 15px;
  text-align: center;
}
.main-container {
  display: flex;
  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #113c60;
    color: #fff;
   
    box-shadow: 5px 5px 5px #939393;
    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;
    }
  }
  .main {
    padding: 30px;
  }
}
