
.border

{

border-color: black;

width: 100px;

}
.icon {
  margin-right: 20px; /* Adjust the value to your desired spacing */
}
.position-relative {
  position: relative;
}

.search-icon,
.clear-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

.clear-icon {
  right: 120px; /* Adjust the value to position the clear icon */
}
.search-icon{
  right: 80px;
}
.form-control{
  width: 1280px;
  background-color: rgb(211, 239, 244);
}
.highlighted {
  background-color:rgb(246, 210, 216);
  font-weight: bold;
}