
<!-- <div class="chart-container" [chart]="chart"></div> -->
<!-- <div class="chart-container" [chart]="chart"></div> -->
<!-- <div #chartContainer class="chart-container"></div> -->

<!-- <app-piechart
  [totalJobsCount]="totalJobsCount"
  [totalAppliedJobsCount]="totalAppliedJobsCount"
  [notAppliedJobsCount]="notAppliedJobsCount"
></app-piechart> -->
<!-- In piechart.component.html -->
<!-- <div class="chart-container">
  <chart [options]="chart"></chart>
</div> -->

<!-- <div class="pie-chart-container">
  <canvas id="pieChart" width="400" height="400"></canvas>
</div> -->

<!-- piechart.component.html -->

<canvas #pieCanvas></canvas>










