


<!-- <div class="filter-toggles">
  <label for="filter">Select Filter:</label>
  <select id="filter" [(ngModel)]="filterOption" (change)="getFilteredAchievements()">
    <option value="lastWeek">Last Week</option>
    <option value="lastMonth">Last Month</option>
    <option value="lastYear">Last Year</option>
  </select>
</div> -->

    <div class="top-section">
        <app-jobsdata></app-jobsdata>
      </div>
      <div class="middle-section">
        <div class="widget left">
          <!-- <app-sales-by-month></app-sales-by-month> -->
          <div class="table-responsive">
            <app-main></app-main>
          </div>
        </div>
      
        <div class="widget middle">
          <!-- Add content for the middle widget here -->
          <!-- For example, you can add a heading and some text -->
          <h3 class="widget-title">Middle Widget</h3>
          <p>This is the content of the middle widget.</p>
        </div>
      
        <div class="widget right">
          <h3 class="widget-title">Company Achievements</h3>
          <div class="achievements-container">
            <!-- Iterate over company achievements list and display each achievement -->
            <div class="achievement" *ngFor="let achievement of visibleAchievements">
              <!-- Rest of the code for displaying achievement details -->
            </div>
            <button *ngIf="hasHiddenAchievements" (click)="showAllAchievements()" class="view-more-button">View More</button>
            <!-- Show the "View More" button only if there are hidden achievements -->
            <!-- <button *ngIf="hasHiddenAchievements" (click)="showAllAchievements()" class="view-more-button">View More</button> -->
          </div>
        </div>
      </div>
      
        
        
          
          
  <!-- <div class="bottom-section">
    <div class="widget left">
    
    </div>
    <div class="widget right">
      <app-top-three-products></app-top-three-products>
    </div>
  </div> -->

  <div [ngClass]="{'hide-footer': isClientHomeComponent}">
    <!-- Your content for the "ClientHomeComponent" goes here -->
  </div>
  

  